* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    color: #ffffff;
}

.ticketContainer {
    background-image: url("assets/images/background-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

#patternLinesImage {
    position: absolute;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
}

#firstPatternCircleImage {
    position: absolute;
    z-index: 1;
    transform: translateY(-40%)
}

#secondPatternCircleImage {
    position: absolute;
    z-index: 1;
    left: 70%;
    top: 50%
}

#patternSquigglyLineBottomImage {
    position: absolute;
    bottom: 0;
    transform: translateX(-10%);
    z-index: 1;
}

#patternSquigglyLineTopImage {
    position: absolute;
    top: 8%;
    right: 0;
    z-index: 3;
}

.image {
    z-index: 0
}

.header {
    max-width: 40%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.hero-section {
    max-width: 50%;
    text-align: center;
    margin: 1rem auto;
}

.hero-section h1 {
    font-weight: 800;
}

.hero-section p {
    margin-top: 1rem;
    font-weight: 300;
}

.hero-section h1,
p {
    color: #ffffff;
}

.main-section {
    max-width: 35%;
    margin: 0 auto 0 auto;
    padding: 1.4rem;
    position: relative;
    z-index: 4;

}

.main-section label {
    color: #ffffff;
    font-weight: 300;
}

.main-section input {
    width: 100%;
}

#upload-photo {
    padding: 1rem 0 4rem 0;
    border: none;
    position: relative;
    overflow: hidden;
    border: 2px dashed #4b486a;
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

/* Make the real input cover the container but invisible */
#upload-photo input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* custom image + text */
.custom-content {
    position: absolute;
    inset: 0;
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    pointer-events: none;
    margin-top: 1rem;
}

.preview-area {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-area img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
}

.actions {
    position: absolute;
    z-index: 3;
    bottom: 0;
    margin-bottom: 1rem;
}

.actions button {
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    background: #4b486a;
    color: #ffffff;
}

.name input {
    padding: 0.5rem 0.4rem;
    border-radius: 0.4rem;
    border: none;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    background-color: transparent;
    color: inherit;
    border: 2px solid #4b486a;
}

.error {
    margin-bottom: 1rem;
    color: #f57261;
    display: flex;
    gap: 0.3rem
}

.email input,
.githubUsername input {
    padding: 0.3rem 0.4rem;
    border-radius: 0.4rem;
    border: none;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    background-color: transparent;
    color: inherit;
    border: 2px solid #4b486a;
}

input:focus {
    outline: 3px solid hsl(245, 15%, 58%);
    outline-offset: 3px;
}

.error {
    font-size: 0.9rem;
}

.error-img,
.error-text {
    color: #e16151;
}

#submit-form-button {
    width: 100%;
    background-color: #f57261;
    color: #0c082b;
    font-weight: 500;
    padding: 1rem 0;
    border: none;
    border-radius: 0.7rem;
    transition: background-color 0.3s ease;
}

#submit-form-button:hover {
    background-color: #f56754;
}

.highlight-name {
    background: linear-gradient(90deg, #f37362, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    color: transparent;
}

.highlight-email {
    color: #f57261;
    font-weight: 600;
}

.ticket-card {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 3 / 1.4;
    /* keeps ticket shape */
    object-fit: contain;
}

.main-section {
    position: relative;
}

.new-container {
    position: absolute;
    top: 25%;
    left: 10%;
    margin: 0 auto;
    width: 75%;
}

.sec-new-container {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.profile-img-div {
    max-width: 20%;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}

.date-paragraph,
.location,
.userEmail {
    font-size: 0.9rem;
    color: #d2d1d6
}

.ticket-number-container {
    position: absolute;
    right: 10%;
    bottom: 25%;
    width: 10%;
    transform: translateY(-50%) rotate(180deg);
}

.ticket-number {
    /*  makes the number vertical */
    writing-mode: vertical-rl;
    /*  flips text upright */
    transform: rotate(180deg);
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #9b9b9e
}


/* ===== ANIMATION STATES ===== */


.fade-out {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.ticket-card {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.ticket-card.show {
    opacity: 1;
    transform: scale(1);
}

.new-container,
.sec-new-container,
.ticket-number-container {
    opacity: 0;
    transform: translateY(12px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width:1200px) {
    .hero-section {
        max-width: 500px
    }

    .main-section {
        max-width: 500px
    }

}

@media (max-width: 1200px) {
    .ticket-card {
        max-width: 100%;
    }

    .new-container {
        top: 13%
    }
}

@media (max-width: 1000px) {

    #patternLinesImage {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        opacity: 0.2;
    }

    #firstPatternCircleImage {
        width: 20vw;
        top: 5%;
        left: 5%;
        transform: none;
        opacity: 0.6;
    }

    #secondPatternCircleImage {
        width: 18vw;
        top: 65%;
        left: 75%;
        transform: none;
        opacity: 0.6;
    }

    #patternSquigglyLineTopImage {
        width: 50vw;
        top: 0;
        right: -5%;
        opacity: 0.6;
    }

    #patternSquigglyLineBottomImage {
        width: 55vw;
        bottom: -2%;
        left: -5%;
        opacity: 0.6;
    }

    /*  Adjust text and form width for mobile */
    .hero-section,
    .header {
        max-width: 90%;
        margin: 2rem auto;
        text-align: center;
    }

    .hero-section h1 {
        font-size: 1.4rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .main-section {
        max-width: 50%;
    }

    .ticket-number-container {
        bottom: 20%
    }
}

@media (max-width: 700px) {
    .main-section {
        max-width: 85%;
    }
}

@media (max-width: 500px) {

    #firstPatternCircleImage,
    #secondPatternCircleImage,
    #patternSquigglyLineBottomImage,
    #patternSquigglyLineTopImage {
        opacity: 0.4;
        transform: scale(0.9);
    }

}

@media (max-width: 400px) {
    .main-section {
        max-width: 100%;
        margin: 2rem auto;
        text-align: center;
    }

    .ticket-card {
        max-width: 100%;
    }

    .ticket-number {
        font-size: 0.7rem;
    }

    .new-container {
        left: 7%;
        width: 80%
    }

    .sec-new-container {
        flex-wrap: wrap
    }

    .sec-new-container h3 {
        font-size: 0.75rem;
    }

    .profile-img {
        width: 80%
    }
}